.navbar ul{
    list-style: none;
}
.navbar li{
    float: left;
    padding-left: 5px;
    margin-left: 150px;

}
#color{
    color:red;
    float:left;
    font-weight: bold;
    padding-right: 10px;
}
#Moringa{
    margin-left: 10px;
    padding-right:500px;
    font-size: x-large;
}
.btn{
    background-color:red;
    color: white;
    font-size: larger;
    padding: 5px 10px;
    margin-top: -50px;
}
